*{
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    white-space: normal;
    overflow-wrap: break-word;
    
}

a{
    text-decoration: none;
}
h3{
    font-size: 25px;
}
p{
    font-family:"fantasy";
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
}

.header-component-container{
    
    height: 60px;
    width: 100%;  
    max-width: 100%;  
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    position: fixed;

}
   
.logo-title-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 20px;
}
.logo-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.menu-list-cart-container{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}
.menu-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: end; 
    gap: 10px;
    margin-left:200px;
    
}
.cart-container{
    position: relative;
    display: flex;
    align-items: center;
}

.shimmer-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    padding: 20px;
}

.shimmer-card{
    width: 300px;
    height: 300px;
    background-color:#b1b2b3;
    border: 1px solid #615f5f;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);

    
}
.restaurant-card-container{
    width: 300px;
    height: 500px;
    overflow-wrap: break-word;
    background-color:#b1b2b3;
    border: 1px solid  #615f5f;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);

    
}

.restaurant-card-container:hover{
    transform: scale(1.05);
   transition: transform 3s;
    
}
.restaurant-image{

    width: 250px;
    height: 250px;
    object-fit: cover;
}
.restaurant-list-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    padding: 20px;
}
.login-btn {
    border-radius: 50%;
}

.restaurant-menu-container{
    display: flex;
    justify-content: center;
   
    height: 100vh;
    padding: 150px;
    margin:15px;
}
.linkClass{
    color:black;
    height:500px;
}
.footer-component-container{
   
    bottom:0;
    height: 60px;
    width: 100%;  
    max-width: 100%;  
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.app-layout-container{
    display: flex;
    flex-direction: column;
    
    min-height: 100vh;
}
.user-card{
    display: flex;
    flex-direction: column;
    border: 1px solid  #615f5f;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    font-size: 16px;
    flex-wrap: wrap;
}
.about-us-container{
    padding: 50px;
    margin: 50px;
    border: 1px solid  #615f5f;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    background-color: #fff;
}