#heading{
    color: blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    border: 2px solid black;
    padding: 10px;
    
}
.headingjsx{
    color: green;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    border: 2px solid red;
    padding: 10px;
}